/* 14:30:03 22/08/2012 [http://oystatic.ignimgs.com/src/core/css/lib/grid.css, http://oystatic.ignimgs.com/src/core/css/lib/reset.css, http://oystatic.ignimgs.com/src/ignmedia/css/default/default.css, http://oystatic.ignimgs.com/src/ignmedia/sites/www.ign.com/css/ignhub.css, http://oystatic.ignimgs.com/src/core/css/widgets/slotted/coverstories/evo.css, http://oystatic.ignimgs.com/src/core/css/widgets/slotted/coverstories/categoryextra.css, http://oystatic.ignimgs.com/src/core/css/widgets/slotted/promo/breakingnews.css, http://oystatic.ignimgs.com/src/core/css/widgets/global/page/blogrollarticles.css, http://oystatic.ignimgs.com/src/core/css/widgets/global/page/followus.css, http://oystatic.ignimgs.com/src/core/css/widgets/start/global/schedule.css, http://oystatic.ignimgs.com/src/core/css/widgets/slotted/promo/entertainment.css, http://oystatic.ignimgs.com/src/core/css/widgets/global/page/topgames.css, http://oystatic.ignimgs.com/src/core/css/widgets/global/page/discovermore.css, http://oystatic.ignimgs.com/src/core/css/widgets/global/page/evoheader.css, http://oystatic.ignimgs.com/src/core/css/widgets/global/page/footer_core.css, http://oystatic.ignimgs.com/src/core/css/widgets/global/page/footer_ign.css, http://oystatic.ignimgs.com/src/core/css/poilib/base.css, http://oystatic.ignimgs.com/src/core/css/poilib/listElementArticleV1_5.css, http://oystatic.ignimgs.com/src/core/css/poilib/subheader_core.css, http://oystatic.ignimgs.com/src/core/css/poilib/subheaderSection.css, http://oystatic.ignimgs.com/src/core/css/widgets/global/page/lightbox.css, http://oystatic.ignimgs.com/src/core/css/widgets/global/interrupts/dailyfix.css, http://oystatic.ignimgs.com/src/core/css/widgets/disqus/comment/mostcommented_core.css, http://oystatic.ignimgs.com/src/core/css/widgets/disqus/comment/mostcommented_original.css, http://oystatic.ignimgs.com/src/core/css/widgets/slotted/interrupts/communityspotlight.css, http://oystatic.ignimgs.com/src/core/css/widgets/global/wikis/topwikis.css, http://oystatic.ignimgs.com/src/core/css/widgets/slotted/promo/evoeventbox.css, http://oystatic.ignimgs.com/src/core/css/widgets/social/shared/followbutton.css, http://oystatic.ignimgs.com/src/core/css/default/sugarads.css]*/

.evo-coverStories { display:inline; float:left; width:948px; overflow:hidden; position:relative }
.evo-coverStories .fuseNav { width:100% }
.evo-coverStories .fuseNav a { display:block; float:left; font-family:"proxima-nova", "helvetica neue", arial, sans-serif; font-size:11px; font-weight:700; line-height:44px; text-transform:uppercase }
.evo-coverStories .fuseNav a.active { color:#d3222a }
.evo-coverStories .fuseNav a span { display:block }
.evo-coverStories .fuseNav a .text { border-left:1px solid #CCC; height:44px; padding:5px 15px 0 }
.evo-coverStories .fuseNav a.first .text { border-left-width:0 }
.evo-coverStories .fuseNav .fuse { background-color:#CCC; height:5px; overflow:hidden }
.evo-coverStories .fuseNav a .fuse .activeFuse { background-color:#d3222a; float:right; height:5px; width:0 }
.evo-coverStories .fuseNav a.previous .fuse { background-color:#333 }
.evo-coverStories .fuseNav a.active .fuse .activeFuse { float:left }
.evo-coverStories .fuseNav a.selected .fuse { background-color:#d3222a }
.evo-coverStories a { text-decoration:none; color:#000 }
.evo-coverStories .prime, .evo-coverStories .secondary { height:263px; border-top:1px solid #ccc; border-right:1px solid #ccc; position:relative; overflow:hidden; background-repeat:no-repeat }
.evo-wrapper { margin-left:6px }
.evo-coverStories .prime { display:inline; float:left; margin-right:5px; width:468px; height:263px }
.evo-coverStories .prime .video-overlay { background:url(./../img/widgets/carousel-sprite.png) no-repeat -199px -12px; display:block; height:25px; left:10px; position:absolute; top:231px; width:27px }
.evo-coverStories .prime .video-overlay:hover { background:url(./../img/widgets/carousel-sprite.png) no-repeat -250px -12px; display:block; height:25px; left:10px; position:absolute; top:231px; width:27px }
.evo-coverStories a.prime:link, .evo-coverStories a.prime:visited { color:#e6e6e6 }
.evo-coverStories a.prime:hover, .evo-coverStories a.prime:active { color:#fff }
.evo-coverStories .wide .video-overlay { background:url(./../img/widgets/carousel-sprite.png) no-repeat -7px -14px; display:block; height:64px; left:10px; position:absolute; top:183px; width:76px }
.evo-coverStories .wide .video-overlay:hover { background:(url./../img/widgets/carousel-sprite.png) no-repeat -101px -14px; display:block; height:64px; left:10px; position:absolute; top:183px; width:76px }
.evo-coverStories .secondary { display:inline; float:left; margin:0 6px 0 6px; padding-top:140px; width:227px; height:123px; font-size:18px; background-repeat:no-repeat; background-size:228px 128px }
.evo-coverStories .secondary .video-overlay { background:url(./../img/widgets/carousel-sprite.png) no-repeat -200px -12px; display:block; height:25px; left:7px; position:absolute; top:95px; width:27px }
.evo-coverStories .secondary .video-overlay:hover { background:url(./../img/widgets/carousel-sprite.png) no-repeat -251px -12px; display:block; height:25px; left:7px; position:absolute; top:95px; width:27px }
.evo-coverStories a.secondary:link, .evo-coverStories a.secondary:visited { color:#000 }
.evo-coverStories a.secondary:hover, .evo-coverStories a.secondary:active { color:#039 }
.evo-coverStories .secondary.omega { margin-right:0; margin-left:6px }
.evo-coverStories .overlayBackground, .evo-coverStories .overlayContent { position:absolute; left:0; bottom:0; width:250px; height:135px; display:inline; float:left; margin:0 }
.evo-coverStories .carousel { height:280px; margin:0; padding:0; position:relative; overflow:hidden; width:948px }
.evo-coverStories .carousel .storyUnit { height:280px; list-style:none; position:absolute; top:-280px; transition:top .3s ease-out .3s;
-moz-transition:top .3s ease-out .3s;
-o-transition:top .3s ease-out .3s;
-webkit-transition:top .3s ease-out .3s;
width:948px; z-index:1 }
.evo-coverStories .carousel .storyUnit.active { top:0; transition-delay:0s; -moz-transition-delay:0s; -o-transition-delay:0s; -webkit-transition-delay:0s; z-index:2 }
.evo-coverStories .overlayBackground { background:#000; opacity:.75 }
.overlayContent span { display:block; margin:0 }
.lcs-headline, .lcs-headline a { font-family:"proxima-nova", "helvetica neue", arial, sans-serif; font-size:22px; font-weight:700; letter-spacing:-1px; line-height:25px }
.lcs-teaser { font-family:"proxima-nova", "helvetica neue", arial, sans-serif; font-size:13px; margin-top:5px }
.cvr-highlightsSubTitle { font-family:"proxima-nova", "helvetica neue", arial, sans-serif; font-size:11px; font-weight:700; margin-top:15px; text-transform:uppercase }
.cvr-highlights { height:210px; padding:30px; position:absolute; right:0; top:0; width:248px; z-index:6; background:#000; background:rgba(0, 0, 0, 0.75); overflow:hidden }
.cvr-highlights a, .cvr-highlights { color:#fff; color:rgba(255, 255, 255, 1) }
.evo-coverStories-subitems { color:#d3222a }
.evo-coverStories-subitems li { margin:4px 0 }
.evo-coverStories-subitems a { clear:right; color:#ccc; color:rgba(204, 204, 204, 1); display:block; font-family:"proxima-nova", "helvetica neue", arial, sans-serif; font-size:13px; left:3px; line-height:15px; margin-left:7px; position:relative }
.evo-coverStories-subitems a:hover { color:#fff }
.cvr-main { position:relative; height:270px }
.overlayContent .lcs-headline { margin:6px 12px 6px 12px }
.overlayContent .lcs-subheadline { margin:0 12px 0 12px }
.evo-coverStories .readMoreArrow { color:#fff; text-decoration:none; text-indent:-9999px; position:absolute; left:0; bottom:0; height:18px; display:block; width:18px; background-image:url(/src/ignmedia/img/default/evolution-icons.png); background-position:0 -40px; background-repeat:no-repeat }
.overlayContent .readMoreArrow { left:12px; bottom:6px }
.evo-coverStories .wide li:before { clear:left; content:"\00BB"; float:left; line-height:12px }


#ignHeaderHeader { height:72px; margin-bottom:12px; display:block }
#ignHeaderHeader.collapsed #ignHeader #ignHeader-navigation { display:none }
#ignHeaderHeader.collapsed:hover #ignHeader #ignHeader-navigation { display:block }
#ignHeader { position:fixed; z-index:100; height:72px; top:0; left:0; width:100%; color:#fff; font-family:"Helvetica Neue", Helvetica, Arial, sans-serif }
.collapsed #ignHeader { height:37px }
#ignHeader-logo { background:url(./../img/ign-dunwall-logo.png) no-repeat center; width:280px; height:34px; float:left; display:block }
#ignHeader-profileLinks { float:right; list-style-position:outside; list-style-type:none; margin:0 0 0 12px; padding:0; display:inline-block }
#ignHeader-profileLinks .profileLink-item { float:left; position:relative; border-left:1px solid #000; background:#535353; background:-moz-linear-gradient(top, #535353 0, #2d2d2d 100%); background:-webkit-gradient(linear, 0% 0, 0% 100%, from(#535353), to(#2d2d2d)); background:-webkit-linear-gradient(top, #535353 0, #2d2d2d 100%); background:-o-linear-gradient(top, #535353 0, #2d2d2d 100%); background:-ms-linear-gradient(top, #535353 0, #2d2d2d 100%); background:linear-gradient(top, #535353 0, #2d2d2d 100%) }
#ignHeader-profileLinks .profileLink-item.selected { -moz-box-shadow:0 2px 12px #000; -webkit-box-shadow:0 2px 12px #000; box-shadow:0 2px 12px #000 }
#ignHeader-profileLinks .profileLink-link { float:left; display:block; height:36px; line-height:36px; padding:0 18px; color:#fff; font-size:12px; font-weight:bold; text-decoration:none }
#ignHeader-profileLinks .profileLink-item:hover { background:#666; background:-moz-linear-gradient(top, #666 0, #333 100%); background:-webkit-gradient(linear, 0% 0, 0% 100%, from(#666), to(#333)); background:-webkit-linear-gradient(top, #666 0, #333 100%); background:-o-linear-gradient(top, #666 0, #333 100%); background:-ms-linear-gradient(top, #666 0, #333 100%); background:linear-gradient(top, #666 0, #333 100%) }
#ignHeader-profileLinks .profileLink-item .arrow { display:inline-block; float:none; width:0; height:0; margin:0 0 0 6px; border-left:4px solid transparent; border-top:4px solid #fff; border-right:4px solid transparent; border-bottom:4px solid transparent; background:0 }
#ignHeader-userBar { opacity:1; position:absolute; z-index:1000; height:36px; width:100%; border-bottom:1px solid #292929; background:#404040; background:-moz-linear-gradient(top, #404040 0, #151515 100%); background:-webkit-gradient(linear, 0% 0, 0% 100%, from(#404040), to(#151515)); background:-webkit-linear-gradient(top, #404040 0, #151515 100%); background:-o-linear-gradient(top, #404040 0, #151515 100%); background:-ms-linear-gradient(top, #404040 0, #151515 100%); background:linear-gradient(top, #404040 0, #151515 100%) }
#ignHeader-userBar.active { position:fixed; top:0; left:0 }
#ignHeader .container { width:972px; margin:0 auto; height:36px; position:relative; z-index:999 }
#ignHeader-navigation { width:100%; height:36px; background-color:#000; margin-top:0; position:absolute; left:0; top:36px; z-index:999; margin-top:0 }
.ignHeader-navLinks { margin:0; height:20px; padding:8px 0 }
.ignHeader-navItem { float:left; list-style-position:outside; list-style-type:none; background:url(./../img/widgets/header-icons.png) -8px -308px no-repeat }
.ignHeader-navItem a:link, .ignHeader-navItem a:visited { display:inline-block; padding:0 0 0 14px; line-height:22px; height:22px; color:#999; text-decoration:none; font-size:12px; font-weight:700; vertical-align:top; text-shadow:none }
.ignHeader-navItem a:hover, .ignHeader-navItem a:active { color:#c00 }
#nav-home, #navItem-more { padding:0 0 0 6px; margin:0; background:0; position:relative }
#nav-home a, #navItem-more .navLink { background-image:url(./../img/widgets/header-icons.png); background-repeat:no-repeat; margin:0; display:inline-block; padding:0; line-height:22px; height:22px }
#nav-home a:link, #nav-home a:visited { background-position:0 -29px; width:12px; height:22px }
#nav-home a:hover, #nav-home a:active { background-position:-32px -29px }
#navItem-more .navLink:link, #navItem-more .navLink:visited { background-position:0 -52px; width:14px; height:20px; margin:0 0 0 14px }
#navItem-more .navLink:hover, #navItem-more .navLink:active { background-position:-34px -52px }
#ignHeader-moreDropdown { display:none }
#navItem-more:hover #ignHeader-moreDropdown { position:absolute; right:-10px; top:18px; width:115px; list-style-type:none; padding:6px 12px 12px 6px; margin:0; background:#000; -moz-border-radius:0 0 5px 5px; -webkit-border-radius:0 0 5px 5px; border-radius:0 0 5px 5px; display:block }
#ignHeader-moreDropdown a { background:0 }
#ignHeader-moreDropdown li { padding:3px 3px }
.ignHeader-searchForm { float:left; margin:0; padding:7px 10px 3px 15px; background:#535353; background:-moz-linear-gradient(top, #535353 0, #2d2d2d 100%); background:-webkit-gradient(linear, 0% 0, 0% 100%, from(#535353), to(#2d2d2d)); background:-webkit-linear-gradient(top, #535353 0, #2d2d2d 100%); background:-o-linear-gradient(top, #535353 0, #2d2d2d 100%); background:-ms-linear-gradient(top, #535353 0, #2d2d2d 100%); background:linear-gradient(top, #535353 0, #2d2d2d 100%) }
#ignHeader-search { float:left; display:block; border:0; margin:0; padding:3px 3px 3px 20px; font-size:13px; -moz-box-shadow:1px 0 4px #999 inset; -webkit-box-shadow:1px 0 4px #999 inset; -moz-border-radius:5px 0 0 5px; -webkit-border-radius:5px 0 0 5px; -box-shadow:1px 0 4px #999 inset; height:17px; width:158px; background:#fff url(./../img/widgets/header-icons.png) no-repeat 3px -101px }
#ignHeader-search.placeholder { color:#aaa }
#ignHeader-searchIcon { float:left; display:block; height:26px; width:23px; background:url(./../img/widgets/header-icons.png) no-repeat 0 -155px; margin:0 }


li {
	list-style: none;
}

